# 觉照验证器 JueZhao Authenticator

node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
*.tsbuildinfo
coverage/
.DS_Store
*.log
.env
.env.local
